body{
    margin:0;
    padding:0;
    background-image:url(mood.jpg);
    background-size: 800%;
}
nav{
    background: black;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
  }
  nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    color: #f2f2f2;
  }
  nav ul div.items{
    padding: 0 25px;
    display: inline-flex;
  }
  nav ul div.items a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: #f2f2f2;
  }
  nav ul div.items a:hover{
    color: cyan;
  }
  nav ul .search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
  }
  nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
  }
  nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  nav ul .search-icon .icon:hover{
    background: #e6e6e6;
  }
  nav ul .search-icon .icon span{
    color: #222222;
    font-size: 18px;
  }
  nav ul li.btn{
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
    color: #f2f2f2;
  }
  nav ul li.btn span{
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
  }
  nav ul li.btn span.show:before{
    content: '\f00d';
  }
  @media screen and (max-width: 1052px) {
    nav{
      padding: 10px 40px 10px 0px;
    }
    nav ul li.logo{
      display: none;
    }
    nav ul div.items{
      flex: 4;
    }
  }
  @media screen and (max-width: 800px){
    nav ul li.btn{
      display: block;
    }
    nav{
      z-index: 1;
      padding: 9px 40px 9px 0;
    }
    nav ul div.items{
      z-index: -1;
      position: fixed;
      top: -220px;
      right: 0;
      width: 100%;
      background: #222222;
      display: inline-block;
      transition: top .4s;
    }
    nav ul div.items.show{
      top: 60px;
    }
    nav ul div.items li{
      text-align: center;
      line-height: 30px;
      margin: 30px 0;
    }
    nav ul div.items li a{
      font-size: 19px;
    }
  }
  @media screen and (max-width: 405px) {
    nav ul{
      flex-wrap: nowrap;
    }
    nav ul li.search{
      width: 50vmin;
    }
    nav ul li input{
      width: 40vmin;
    }
    nav ul li .search-icon{
      width: 10vmin;
    }
  }
.container{
    display: flex;
    justify-content: left ;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    transition: all 390ms;
}

.image{
    width: 200px;
    height: 200px;
margin: 15px;
}

.Plus{
   width: 75px;
   height: 75px;
   margin-left: 70px;
}

.container:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.01);
}

