*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width:100%;
    background-image:url(image.png);
    background-size:cover;
    background-position: center;
    position: relative;

}
 .navbar{
     width: 95%; 
     margin:auto;
     padding: 10px 0;
     display:flex;
     align-items:center;
     justify-content: space-between;
 }
 .logo{
     width: 100px; 
     cursor: pointer; 
 }
 .navbar ul li{
     list-style:none;
     display:inline-block;
     margin: 0 15px;
 }
 .navbar ul li a{
    text-decoration: none;
    color: #5f5f5f;
    font-size:15x;
} 

*{
    margin :0;
    padding: 0;
    font-family:  sans-serif;
   
}
body{
     background-image:url(image.png);
     background-repeat: no-repeat;
     background-size: 100%;
 }

.banner-text
{
     text-align: left;
}
.banner-text h1{
     font-size: 58px;
     color:white;
     font-family: 'Courgette', cursive;
     margin-top: 70px;
}
.banner-text p{
     font-size: 20px;
     font-style: italic;
}
.my-button{
     margin: 0px 9px;
     color:white;
     background-color: orange;
     width: 150px;
     height: 75px;
     font-family: 'Oswald', sans-serif;
     font-size: 15px;
     margin: 100px 300px 100px 70px;
     box-shadow:   papayawhip;
     border-radius: 5%;
     font-weight:bold;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     transition-property:box-shadow, transform ;
     -webkit-transition-duration: box-shadow,transform;   
}
.my-button:hover, button:focus, button:active{
     box-shadow: 0 0 20px;
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     color: rgb(76, 11, 136);
}

.my-button-2{
     
     color:white;
     background-color:orange;
     margin: 100px 500px 100px 0px;
     font-family: 'Oswald', sans-serif;
     height: 75px;
     width: 150px;
     font-size: 20px;
    box-shadow:  papayawhip ;
    border-radius: 5%;  
    font-weight: bold; 
    transition-property: box-shadow,transform;
    -webkit-transition-duration: box-shadow,transform  ;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.my-button-2:hover{
     color: rgb(76, 11, 136);
     box-shadow: 0 0 20px;
     -webkit-transform: scale(1.1);
     transform: scale(1.1);

}
span{
     color: black;
}
p{
     font-size: 80%;
     color: papayawhip;
     font-family: 'Courgette', cursive;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: black;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover{
  color: cyan;
}
nav ul .search-icon{
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}
nav ul .search-icon input{
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
nav ul .search-icon .icon:hover{
  background: #e6e6e6;
}
nav ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}
nav ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  display: none;
}
nav ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #151515;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li.btn span.show:before{
  content: '\f00d';
}
@media screen and (max-width: 1052px) {
  nav{
    padding: 10px 40px 10px 0px;
  }
  nav ul li.logo{
    display: none;
  }
  nav ul div.items{
    flex: 4;
  }
}
@media screen and (max-width: 800px){
  nav ul li.btn{
    display: block;
  }
  nav{
    z-index: 1;
    padding: 9px 40px 9px 0;
  }
  nav ul div.items{
    z-index: -1;
    position: fixed;
    top: -220px;
    right: 0;
    width: 100%;
    background: #222222;
    display: inline-block;
    transition: top .4s;
  }
  nav ul div.items.show{
    top: 60px;
  }
  nav ul div.items li{
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a{
    font-size: 19px;
  }
}
@media screen and (max-width: 405px) {
  nav ul{
    flex-wrap: nowrap;
  }
  nav ul li.search{
    width: 50vmin;
  }
  nav ul li input{
    width: 40vmin;
  }
  nav ul li .search-icon{
    width: 10vmin;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 40px;
  z-index: -2;
}
.content .text{
  font-size: 40px;
  font-weight: 800;
  padding: 5px 0;
  color: #202020;
}
.content .p{
  font-size: 28px;
  font-weight: 600;
  color: #202020;
}